///////////////////////////////////////////////////////////////////////
// Base
///////////////////////////////////////////////////////////////////////
html {
  font-size: 10px;
}

body {
  font: 18px/1.5 cambria, georgia, times, serif;
  font-size: 1.8rem;
  color: #111;
}

h1, h2, h3, h4, h5 {
  font-family:"Palatino", Times, serif;
  line-height: 1.2;
  color:#222;
  margin: 1rem 0;
  font-weight: normal;
}
h1 {
  font-size: 45px;
  font-size: 4.5rem;
}
h2 {
  font-size: 32px;
  font-size: 3.2rem;
}
h3 {
  font-size: 28px;
  font-size: 2.8rem;
}
h4 {
  font-size: 24px;
  font-size: 2.4rem;
}
h5 {
  font-weight: bold;
}
p {
  margin: 0 0 $p_margin_bottom;
  line-height: 1.5;
}
sup {
  vertical-align: super;
}
sub {
  vertical-align: sub;
}

a, a:visited {
  color: $link_color;
}
a:hover {
  @include border_radius(3px);
  background: $link_color;
  color: #fff;
  text-decoration: none;
}


///////////////////////////////////////////////////////////////////////
// Utility classes
///////////////////////////////////////////////////////////////////////
/* For modern browsers */
.cf:before,
.cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
  zoom:1;
}

.left {
  float: left;
}
.right {
  float: right;
}
.inner {
  width: $site_width;
  margin: 0 auto;
  padding: 0 1em;
}


///////////////////////////////////////////////////////////////////////
// Main layout
///////////////////////////////////////////////////////////////////////

// A bit of fun
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 0 -16px;
}
.praetorians {
  height: 16px;
  padding: 0 5px;
  text-align: right;
  font-size: 12px;
  line-height: 12px;

  a, a:hover {
    color: #111;
    background: 0;
    text-decoration: none;
    cursor: help;
  }
}
// Ok, back to work

header.top {
  background: #000;
  padding: 0.75em 0;
  font-size: 20px;
  font-size: 2.0rem;

  // ----- Links -----
  // Style
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
    background: none;
  }
  // Color
  .logo {
    color: #73ff87;
  }
  .nav-link {
    color: #eee;

    &.active {
      text-decoration: underline;
    }
  }

  // ----- Positioning -----
  nav {
    text-align: right;
    margin-left: 25%;
  }
  li {
    display: inline;
    padding: 0 0.35em;
  }
}

section.main {
  display: block;
  padding: 1.5em 0;
}

footer {
  padding: 1em;
  font-size: 1.5rem;

  .inner {
    border-top: dotted 1px #666;
    padding: 10px 0;
  }
  .footer-nav {
    list-style: none;
    text-align: right;
  }
  .nav-item {
    display: inline;

    &:after {
      content: "-";
    }
    &:last-child:after {
      content: "";
    }
    a {
      padding: 3px 5px;
    }
  }
}


///////////////////////////////////////////////////////////////////////
// Site-wide classes
///////////////////////////////////////////////////////////////////////
.breadcrumb {
  font-size: 1.5rem;
  padding: 5px;
  border-bottom: 1px solid #666;
  margin: 1em 0 1.5em;
  color: #333;
}

