///////////////////////////////////////////////////////////////////////
// Index
///////////////////////////////////////////////////////////////////////
ul.journal {
  list-style: none;

  .posted-time {
    display: block;
    float: left;
    width: 115px;
    color: $date_color;
  }
}


///////////////////////////////////////////////////////////////////////
// Entries
///////////////////////////////////////////////////////////////////////
header.journal {
  .title {
  }
  .datetime {
    font-size: 1.75rem;
    color: $date_color;
  }
}

blockquote {
  margin: 0 0 $p_margin_bottom;
  padding: 20px 20px 1px 40px;
  background: #ddd;
  color: #444;
  border-left: 3px solid $link_color;
  font-style: italic;

  p {
    margin: 0 0 1.5em;
    line-height: 1.75;
  }
}

figure {
  width: 100%;
  margin: 0;
  overflow: auto;

  figcaption {
    display: none;
  }
}
