///////////////////////////////////////////////////////////////////////
// Index
///////////////////////////////////////////////////////////////////////
ul.journal {
  list-style: none;

  .posted-time {
    display: block;
    float: left;
    width: 100px;
  }
}


///////////////////////////////////////////////////////////////////////
// Entries
///////////////////////////////////////////////////////////////////////
header.journal {
  .title {
  }
  .datetime {
    font-size: 1.75rem;
    color: #666;
  }
}
